<div class ="container">
   <div class="card">
   <h3 class ="fix">Choose your move</h3>
        <img src="assets/rock.jpeg" width="70" (click)="Myfunc('rock')">
        <img src="assets/paper.png" width="70" (click)="Myfunc('paper')">
        <img src="assets/scissor.jpg" width="70" (click)="Myfunc('scissor')">
        <h3>Computer has choosen: {{computer}}</h3>
        <h3>{{result}}</h3>

        <div id="score">
          <h3>User: {{user_score}}</h3>
          <h3>Computer: {{computer_score}}</h3>
        </div>
        <button (click)="ResetGame()" class="button">Reset</button>
   </div>

</div>